<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Operation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body style="background-color:grey;">
    <div class="container my-5">
        <h3> Add Operation</h3>
        <div class="operation">
            <div class="operation-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/Operation/createOperation}" th:object="${operation}" method="post">
                        <div class="row">

                            <div class="form-group col-md-8">
                                <label for="firstName" class="col-form-label">Type</label>
                                <input type="text" th:field="*{type}" class="form-control"
                                            id="firstName" placeholder="First Name" />
                            </div>

                            <div class="form-group col-md-8">
                                <label for="secondName" class="col-form-label">Amount</label>
                                <input type="text" th:field="*{amount}" class="form-control"
                                       id="secondName" placeholder="Last Name" />
                            </div>

                            <div class="form-group col-md-8">
                                <label for="lastName" class="col-form-label">Last Name</label>
                                <input type="text" th:field="*{terminal}" class="form-control"
                                            id="lastName" placeholder="Last Name" />
                            </div>

                            <div class="form-group col-md-8">
                                <label for="serial" class="col-form-label">Serial</label>
                                <input type="text" th:field="*{terminal}" class="form-control"
                                       id="serial" placeholder="Serial" />
                            </div>

                            <div class="form-group col-md-8">
                                <label for="number" class="col-form-label">Number</label>
                                <input type="text" th:field="*{terminal}" class="form-control"
                                       id="number" placeholder="Number" />
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>